@inject Cart Cart;
@inject IDialogService DialogService;
@inject IImageClient iis;

<div class="d-inline-flex flex-wrap gap-4 m-4">
    @if (Images is null)
    {
        <MudProgressCircular Indeterminate="true"/>
    }
    else if (!Images.Any())
    {
        <MudText Align="Align.Center" Typo="Typo.h6">There is nothing here!</MudText>
    }
    else
    {
        <MudSlider @bind-Value="@Width" Variant="Variant.Filled" Min="20" Max="1024">
            Adjust image size with the slider
        </MudSlider>
        @foreach (var img in Images)
        {
            <div class="bouncer container hidden-child-button" style="width: max-content; height: max-content;">
                <MudImage Src="@img.Url"
                          Class="rounded-lg"
                          Style="@(GetStyle(img))"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="@Width"
                          loading="lazy"
                          draggable="false"
                          Fluid="true"
                          @onclick="@(args => OnClick(img, args))"/>
                <MudIconButton Style="z-index: 1; position: absolute; right: 5%; bottom: 5%;"
                               Size="Size.Large"
                               Color="Color.Default"
                               Variant="Variant.Text"
                               Class="hover-button"
                               Icon="@(GetIcon(img))"
                               OnClick="@(() => AddToOrRemoveFromCart(img))"/>
                <img src="check-mark.png" width="@GetCheckWidth(img)" alt="check mark" 
                     loading="lazy" style="@GetCheckMarkStyle(img)"/>
            </div>
        }
    }
</div>

@code {
    [Parameter] public IEnumerable<ImageId>? Images { get; set; }

    [Parameter]
    public int Width { get; set; } = 256;

    protected override void OnInitialized()
    {
        Cart.Images.CollectionChanged += (_, _) => StateHasChanged();
    }

    private async Task OnClick(ImageId img, MouseEventArgs args)
    {
        if (args.CtrlKey)
        {
            AddToOrRemoveFromCart(img);
        }
        else
        {
            await CreatePopUp(img);
        }
    }

    private string GetStyle(ImageId img) => Cart.Images.Contains(img) ? "filter: grayscale(30%);" : string.Empty;

    private async Task CreatePopUp(ImageId img)
    {
        var src = await iis.GetImage(new GetImageRequest()
        {
            Name = img.Name,
            Width = -1,
            Height = -1,
        });
        var disp = src is not null ? src : img;
        var opts = new DialogOptions() { CloseOnEscapeKey = true, CloseButton = true };
        var parameters = new DialogParameters();
        parameters.Add("Source", disp);
        DialogService.Show<ImagePopUp>(img.Name, parameters, opts);
    }

    private void AddToOrRemoveFromCart(ImageId? img) => Cart.AddOrRemove(img);

    private string GetIcon(ImageId img) => 
        Cart.Images.Contains(img) ? Icons.Material.Filled.HorizontalRule : Icons.Material.Filled.Add;

    private string? GetCheckMarkStyle(ImageId img)
    {
        var vis = Cart.Images.Contains(img) ? "visible" : "hidden";
        return $"z-index: 1; position: absolute; right: 10%; top: 5%; visibility: {vis}";
    }

    private int GetCheckWidth(ImageId img) => int.CreateSaturating(Width * 0.1);
}
